<header>
    <h1><a href='{{ site.url }}/'>{{ site.name }}</a></h1>
</header>
<a href='{{ site.url }}/'> Home</a> | <a href='{{ site.url }}/about/'>About </a> | <a href='{{ site.url }}/contact/'> Contacts</a> | <a href='{{ site.url }}/archive/'> Archive</a> 
<hr>
<style>
table {
    border: 1px solid #000000;
    border-collapse: collapse;
    word-wrap:break-word; word-break:break-all;
}
th,td {
    padding: 20px;
    border: 1px solid #000000;
    text-align:center;
}
li{line-height:30px;}
</style>
